  /*
  Designer:山川
  Date    :2021-06-17
  Purpose :W2,W3に適応するスタイルシート
  */
  th.fc-day-sat {
    background-color: #eaf4ff;
  }

  th.fc-day-sun {
    background-color: #ffeaea;
  }

  td.fc-day-sat {
    background-color: #eaf4ff;
  }

  td.fc-day-sun {
    background-color: #ffeaea;
  }

  .planColor {
    background-color: rgb(0, 204, 255);
  }

  .taskColor {
    background-color: rgb(255, 187, 0);
  }

  .btn-addTask {
    background-color: rgba(255, 208, 0, 0.397);
  }

  .btn-update {
    background-color: #fffdea;
  }
  .btn-edit {
    background-color: blanchedalmond;
  }

  .btn-back {
    background-color: rgba(99, 134, 102, 0.493);
  }
