{% extends "layout.html" %}
{% block content %}

<link rel='stylesheet' href='../static/lib/main.css' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='../static/lib/main.js'></script>
<style>
  th.fc-day-sat {
    background-color: #eaf4ff;
  }

  th.fc-day-sun {
    background-color: #ffeaea;
  }

  td.fc-day-sat {
    background-color: #eaf4ff;
  }

  td.fc-day-sun {
    background-color: #ffeaea;
  }

  .planColor {
    background-color: rgb(0, 204, 255);
  }

  .taskColor {
    background-color: rgb(255, 187, 0);
  }

  .btn-addTask {
    background-color: rgba(255, 208, 0, 0.397);
  }

  .btn-update {
    background-color: #fffdea;
  }
</style>
<script type="text/javascript">
  //予定情報をeventListに追加
  var eventsList = [];
  {% if planEvents %}
  {% for plan in planEvents %}
  eventsList.push({ start: {{ plan["start"]| tojson }}, title: {{ plan["title"]| tojson }}, color: "blue", className: ["planColor"]})
  {% endfor %}
  {% endif %}
  //課題情報をeventListに追加
  {% if taskEvents %}
  {% for task in taskEvents %}
  eventsList.push({ start: {{ task['due']| tojson }}, title: {{ task['title']| tojson }}, color: 'red', className: ['taskColor']})
  {% endfor %}
  {% endif %}

  //カレンダー表示
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'ja',
      height: window.innerHeight * 0.9,
      dayMaxEvents: true,
      headerToolbar: {
        left: "prev",
        center: "title",
        right: "today next"
      },
      buttonText: {
        today: '今月',
        month: '月',
        list: 'リスト'
      },
      dayCellContent: function (e) {
        e.dayNumberText = e.dayNumberText.replace('日', '');
      },
      displayEventTime: false,
      businessHours: false,
      editable: false,
      initialDate: "{{date}}",

      //日付クリック時に日付をpost
      dateClick: function (info) {
        $.post("{{url_for('W2')}}", info.dateStr)
          .done(function (data) {
            window.location.href = "/homeDetails/" + data;
          })
      },
      //予定情報クリック時に日付をpost
      eventClick: function (info) {
        $.post("{{url_for('W2')}}", info.event.startStr)
          .done(function (data) {
            window.location.href = "/homeDetails/" + data;
          })
      },
      events: eventsList
    });

    calendar.render();
  });
</script>

<!--画面右部 休憩時間・MustDoリスト・ToDoリスト・課題追加ボタン表示-->
<!--休憩時間・課題追加ボタンpost-->
<div id="calendar" class="col-sm-8"></div>
<div class="col-sm-4">
  <form action="{{url_for('W2')}}" method="POST">
    <div class="">
      <div>
        <p></p>
        <label class="text-center">一日の休憩時間 (睡眠・食事を含む)</label>
      </div>
      <div>
        <input class="input-lg form-control" type="number" name="restTime" value={{session['restTime']}} min=0 required>
      </div>
      <input type="submit" name="update" value="更新" class="btn-sm btn-update">
    </div>
    <div class="mustDoList text-center">
      <label>MustDoリスト</label>
      <textarea class="form-control" rows="17" readonly wrap="off" style="font: size 1.3em;">
        {% for must in mustDoList%}
        {{must}}
        {% endfor %}
        </textarea>
    </div>
    <div>
      <p></p>
    </div>
    <div class="toDoList text-center">
      <label>ToDoリスト</label>
      <textarea class="form-control" rows="17" readonly wrap="off" style="font: size 1.3em;">
      {% for task in toDoList %}
      {{task['title']}}
      {% endfor %}
      </textarea>
    </div>
    <div class="btn-lg row">
      <input type="submit" name="addTask" value="課題追加" class="btn-lg btn-block btn-addTask">
    </div>
  </form>
</div>
{% endblock %}
